* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#todo {
  width: 100%;
  height: 100vh;
  background-color: #d6dae0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#todo .main-area {
  width: 420px;
  height: 780px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 7px #d6dae0;
  -webkit-box-shadow: 0px 0px 9px 7px #d6dae0;
  -moz-box-shadow: 0px 0px 9px 7px #d6dae0;
  position: relative;
}

#todo .main-area .header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 0px 9px 2px #d6dae0;
  -webkit-box-shadow: 0px 0px 9px 2px #d6dae0;
  -moz-box-shadow: 0px 0px 9px 2px #d6dae0;
}

#todo .main-area .header h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  color: #5b56d5;
  text-transform: capitalize;
}

#todo .main-area .todo-list {
  width: 100%;
  height: 730px;
  background-color: transparent;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#todo .main-area .todo-form {
  width: 95%;
  position: absolute;
  left: 11px;
  bottom: 10px;
}

#todo .main-area .todo-form .form-group {
  background: #fff;
  box-shadow: 0px 0px 5px 0px #d6dae0;
  -webkit-box-shadow: 0px 0px 5px 0px #d6dae0;
  -moz-box-shadow: 0px 0px 5px 0px #d6dae0;
  padding: 5px 0;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#todo .main-area .todo-form .form-group .emoji .btn-group {
  background: #EBEDF0;
  border-radius: 50px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu {
  width: 388px;
  height: 300px;
  background-color: #fff;
  inset: auto auto 10px 0px !important;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emoji-search {
  width: 100%;
  height: 36px;
  background-color: #fff;
  padding: 0 8px;
  position: relative;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emoji-search .search {
  width: 100%;
  padding: 5px 45px;
  border: 1px solid #EBEDF0;
  border-radius: 50px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emoji-search .search-icon {
  position: absolute;
  top: 4.9px;
  left: 16px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emoji-search .search-icon img {
  width: 23px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis {
  width: 100%;
  height: 250px;
  background-color: #fff;
  padding: 8px 8px 0;
  overflow: auto;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 15px 0 0;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used p {
  font-size: 14px;
  text-align: left;
  line-height: 22px;
  color: #72777f;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list li {
  width: 45px;
  height: 45px;
  background-color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 41px;
  color: none;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 3px 0px #9b9b9b;
          box-shadow: 0px 0px 3px 0px #9b9b9b;
  margin: 10px 6px 10px 0px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .car {
  line-height: 32px !important;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .apple {
  line-height: 45px !important;
  padding-left: 3px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .hospital {
  line-height: 43px !important;
  padding-left: 3px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .bank {
  line-height: 43px !important;
  padding-left: 2px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .college {
  line-height: 35px !important;
  padding-left: 2px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .bicycle {
  line-height: 35px !important;
  padding-left: 3px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .gym {
  line-height: 46px !important;
  padding-left: 4px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .cat {
  line-height: 46px !important;
  padding-left: 2px;
}

#todo .main-area .todo-form .form-group .emoji .dropdown-menu .emojis .used .emoji-list .football {
  line-height: 43px !important;
}

#todo .main-area .todo-form .form-group .input-field {
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

#todo .main-area .todo-form .form-group .input-field .form-control {
  border-radius: 50px;
}

#todo .main-area .todo-form .form-group .input-field #emoji {
  width: 38px;
  margin-right: 5px;
  padding: 6px;
}
/*# sourceMappingURL=app.css.map */