@mixin DivSizing($w, $h, $bg) {
  width: $w;
  height: $h;
  background-color: $bg;
}

@mixin DisplayFlex($flex, $align, $justify, $direction, $wrap) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin FontStyle($size, $color, $align, $lh, $transform) {
  font-size: $size;
  text-align: $align;
  line-height: $lh;
  color: $color;
  text-transform: $transform;
}

@mixin ListHover($fristColor, $secondColor){
  background: none;
  transition: all .2s;

  &:hover{
    background: -moz-linear-gradient(45deg,  $fristColor 0%, $secondColor 55%);
    background: -webkit-linear-gradient(45deg,  $fristColor 0%,$secondColor 55%);
    background: linear-gradient(45deg,  $fristColor 0%,$secondColor 55%); 
    cursor: pointer;
  }
}