@mixin DivSizing($w, $h, $bg) {
  width: $w;
  height: $h;
  background-color: $bg;
}

@mixin DisplayFlex($flex, $align, $justify, $direction, $wrap) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin FontStyle($size, $color, $align, $lh, $transform) {
  font-size: $size;
  text-align: $align;
  line-height: $lh;
  color: $color;
  text-transform: $transform;
}